// @font-face {
//   font-family: 'TuckfestHand';
//   src: url('assets/webfonts/TuckfestHand-Regular.otf') format('otf');
// }
@font-face {
  font-family: 'TuckfestHand';
  src: url('assets/webfonts/Handwritingext.woff') format('woff');
}
@font-face {
  font-family: 'Axis';
  src: url('assets/webfonts/AxisExtrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonReg';
  src: url('assets/webfonts/Brandon_Grotesque_regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonRegItalic';
  src: url('assets/webfonts/Brandon_Grotesque_regular_italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'BrandonMed';
  src: url('assets/webfonts/Brandon_Grotesque_medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonMedItalic';
  src: url('assets/webfonts/Brandon_Grotesque_medium_italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'BrandonMed';
  src: url('assets/webfonts/Brandon_Grotesque_bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonMedItalic';
  src: url('assets/webfonts/Brandon_Grotesque_bold_italic.otf') format('otf');
  font-weight: bold;
  font-style: italic;
}

/*==== Brandon Grotesque ====*/
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/Brandon_Grotesque_regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/Brandon_Grotesque_regular_italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/Brandon_Grotesque_medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/Brandon_Grotesque_medium_italic.otf') format('otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/Brandon_Grotesque_bold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/Brandon_Grotesque_bold_italic.otf') format('otf');
  font-weight: 600;
  font-style: italic;
}


// @font-face {
//   font-family: 'Lato';
//   src: url('assets/Lato/Lato-Regular.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'LatoLight';
//   src: url('assets/Lato/Lato-Light.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'LatoBold';
//   src: url('assets/Lato/Lato-Bold.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
// }