// @font-face {
//   font-family: 'TuckfestHand';
//   src: url('assets/webfonts/TuckfestHand-Regular.otf') format('otf');
// }
@font-face {
  font-family: 'TuckfestHand';
  src: url('assets/webfonts/Handwritingext.woff') format('woff');
}
@font-face {
  font-family: 'Axis';
  src: url('assets/webfonts/AxisExtrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonReg';
  src: url('assets/webfonts/Brandon_Grotesque_regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonRegItalic';
  src: url('assets/webfonts/Brandon_Grotesque_regular_italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'BrandonMed';
  src: url('assets/webfonts/Brandon_Grotesque_medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonMedItalic';
  src: url('assets/webfonts/Brandon_Grotesque_medium_italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'BrandonMed';
  src: url('assets/webfonts/Brandon_Grotesque_bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonMedItalic';
  src: url('assets/webfonts/Brandon_Grotesque_bold_italic.otf') format('otf');
  font-weight: bold;
  font-style: italic;
}

/*==== Brandon Grotesque ====*/
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/brandon/BrandonGrotesque-Bold.eot');
  src: local('BrandonGrotesque-Bold'), local('BrandonGrotesque-Bold'),
      url('assets/webfonts/brandon/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
      url('assets/webfonts/brandon/BrandonGrotesque-Bold.woff2') format('woff2'),
      url('assets/webfonts/brandon/BrandonGrotesque-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/brandon/BrandonGrotesque-BoldItalic.eot');
  src: local('BrandonGrotesque-BoldItalic'), local('BrandonGrotesque-BoldItalic'),
      url('assets/webfonts/brandon/BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('assets/webfonts/brandon/BrandonGrotesque-BoldItalic.woff2') format('woff2'),
      url('assets/webfonts/brandon/BrandonGrotesque-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/brandon/BrandonGrotesque-MediumItalic.eot');
  src: local('BrandonGrotesque-MediumItalic'), local('BrandonGrotesque-MediumItalic'),
      url('assets/webfonts/brandon/BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('assets/webfonts/brandon/BrandonGrotesque-MediumItalic.woff2') format('woff2'),
      url('assets/webfonts/brandon/BrandonGrotesque-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/brandon/BrandonGrotesque-Medium.eot');
  src: local('BrandonGrotesque-Medium'), local('BrandonGrotesque-Medium'),
      url('assets/webfonts/brandon/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
      url('assets/webfonts/brandon/BrandonGrotesque-Medium.woff2') format('woff2'),
      url('assets/webfonts/brandon/BrandonGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/brandon/BrandonGrotesque-RegularItalic.eot');
  src: local('BrandonGrotesque-RegularItalic'), local('BrandonGrotesque-RegularItalic'),
      url('assets/webfonts/brandon/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('assets/webfonts/brandon/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
      url('assets/webfonts/brandon/BrandonGrotesque-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/webfonts/brandon/BrandonGrotesque-Regular.eot');
  src: local('BrandonGrotesque-Regular'), local('BrandonGrotesque-Regular'),
      url('assets/webfonts/brandon/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/webfonts/brandon/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('assets/webfonts/brandon/BrandonGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



// @font-face {
//   font-family: 'Brandon Grotesque';
//   src: url('assets/webfonts/Brandon_Grotesque_regular.otf') format('otf');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Brandon Grotesque';
//   src: url('assets/webfonts/Brandon_Grotesque_regular_italic.otf') format('otf');
//   font-weight: normal;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Brandon Grotesque';
//   src: url('assets/webfonts/Brandon_Grotesque_medium.otf') format('otf');
//   font-weight: 500;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Brandon Grotesque';
//   src: url('assets/webfonts/Brandon_Grotesque_medium_italic.otf') format('otf');
//   font-weight: 500;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Brandon Grotesque';
//   src: url('assets/webfonts/Brandon_Grotesque_bold.otf') format('otf');
//   font-weight: 600;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Brandon Grotesque';
//   src: url('assets/webfonts/Brandon_Grotesque_bold_italic.otf') format('otf');
//   font-weight: 600;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url('assets/Lato/Lato-Regular.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'LatoLight';
//   src: url('assets/Lato/Lato-Light.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'LatoBold';
//   src: url('assets/Lato/Lato-Bold.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
// }