.button-yellow {
  display: inline-block;
  text-decoration: none;
  background-color: #FFE900;
  color: #000;
  font-family: $tuckfest_hand;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 25px;
  border-radius: 0!important;
  min-width: 140px;
  transition: all ease .3s;
  &:hover, &:focus {
    background-color: #FFF;
    color: #000;
    transform: translateY(-1px);
    box-shadow: 2px 5px .5rem rgba(0,0,0,.5);
  }
}

.button-outline-white {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: #FFF;
  font-family: $tuckfest_hand;
  font-size: 12px;
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 0;
  border: 1px solid #FFF;
  transition: all ease .3s;
  &:hover, &:focus {
    background-color: #FFF;
    color: #000;
    transform: translateY(-1px);
  }
}

.site-header.site-header-new {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  transition: all ease .3s;
  animation-duration: .75s;
  animation-fill-mode: both;
  @include mid {
    padding-left: 70px;
    padding-right: 70px;
  }
  &:before {
    pointer-events: none;
    content:"";
    display: block;
    width: 100%;
    height: 15vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,  rgba(25,94,166,0.65) 0%,rgba(0,0,0,0) 100%);
  }
  &.sticky {
    position: fixed;
    background-color: rgba(0,0,0,.75);
    animation-name: fadeInDown;
    z-index: 999999;
    &:before {
      opacity: 0;
    }
  }
  .headerInner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }
  .logo {
    padding-left: 0;
    padding-right: 0;
    width: 260px;
    display: flex;
    align-items: center;
    position: relative;
    a {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    @media screen and (max-width:768px) {
      width: 215px;
      left: -8px;
    }
  }
  .menu-toggle-button {
    appearance: none;
    border: none;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    right: -15px;
    background-image: url('assets/images/menu-toggle.png');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    @media screen and (max-width:768px) {
      right: 0;
    }
  }
  #site-navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 395px;
    height: 100vh;
    z-index: 500;
    padding: 85px 0 0!important;
    height: 100vh;
    background: rgba(0,0,0,.88);
    display: none;
    animation-fill-mode: both;
    animation-duration: .7s;
    &.open {
      display: block;
      animation-name: slideInRight;
    }
    &.closed {
      display: block;
      animation-duration: .6s;
      animation-name: slideOutRight;
    }
    @media screen and (max-height:768px) {
      position: fixed;
    }
    @media screen and (max-width:500px) {
      width: 100%;
    }
    .navigation-wrapper {
      width: 100%;
      height: 100%;
      padding-bottom: 50px;
      overflow: auto;
    }
    .menu-close {
      appearance: none;
      border: none;
      display: block;
      width: 40px;
      height: 40px;
      background-color: transparent;
      background-image: url('assets/images/menu-close.png');
      background-size: 65%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 40px;
      right: 40px;
      z-index: 100;
      @media screen and (max-width:768px) {
        top: 28px;
        right: 38px;
      }
    }
    .main-navigation {
      padding-left: 40px;
      padding-right: 40px;
    }
    ul {
      margin: 0 0!important;
      padding: 0 0;
      list-style: none;
    }
    ul.menu {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0;
      a:hover,
      a:focus {
        color: $yellow;
      }
      li {
        width: 100%;
        text-align: left;
        position: relative;
      }
      .menuDropdownBtn {
        appearance: none;
        border: none;
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255,0);
        position: absolute;
        top: 5px;
        right: -5px;
        transition: transform ease .2s;
        &:before {
          content:"";
          display: block;
          width: 12px;
          height: 12px;
          border-right: 2px solid #FFF;
          border-bottom: 2px solid #FFF;
          position: absolute;
          top: 42%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
        &[aria-expanded="true"] {
          transform: scaleY(-1);
        }
      }
      > li {
        &.menu-item-has-children {
          padding-right: 50px;
        }
        ul {
          padding-left: 30px;
          padding-right: 30px;
          display: none;
          position: relative;
          &:before {
            content:"";
            display: block;
            width: 1px;
            height: 100%;
            background-color: $yellow;
            position: absolute;
            top: 0;
            left: 20px;
          }
          li {
            margin-top: 5px;
            margin-bottom: 5px;
          }
          a {
            display: block;
            text-decoration: none;
            color: #FFF;
            font-size: 18px;
            line-height: 1.2;
            letter-spacing: .08em;
            text-transform: uppercase;
            padding: 5px 10px;
          }
          ul {
            display: none;
          }
        }
      }
      > li > a {
        padding: 12px 5px;
        display: block;
        text-decoration: none;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
    }

    .secondary-navigation {
      padding-left: 40px;
      padding-right: 40px;
      ul.menu {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        margin-top: 20px !important;
        border-top: 1px solid rgba(255,255,255,.75);
      }
      ul.menu > li > a {
        font-weight: 300;
      }
    }

    .nav-social-media {
      padding-left: 40px;
      padding-right: 40px;
      position: relative;
      margin-top: 20px;
      &:before {
        content:"";
        display: block;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,.75);
        margin-bottom: 23px;
      }
    }
    .socialMediaLinks {
      display: flex;
      align-items: center;
      gap: .75rem;
      position: relative;
      left: -10px;
      a {
        display: inline-block;
        position: relative;
        &[aria-label="facebook"] {
          left: 5px;
        }
        img {
          width: auto;
          height: 40px;
          // filter: brightness(0) saturate(100%) invert(73%) sepia(96%) saturate(749%) hue-rotate(5deg);
        }
        &:hover, &:focus {
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}

body {
  &:not(.home) .site-header.site-header-new {
    &:before {
      background: linear-gradient(to bottom,  rgba(14,26,44,0.65) 0%,rgba(0,0,0,0) 100%);
    }
  }

  &.logged-in.admin-bar {
    .site-header.site-header-new {
      #site-navigation .menu-close {
        top: 50px;
      }
    }
  }
}

.sectionTitle {
  font-family: $tuckfest_hand!important;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $yellow;
  margin: 0 0 30px;
}

.flexible-content-wrapper {
  overflow: hidden;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    .background-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .repeatable {
    position: relative;
  }
  .wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    &.textContainer {
      max-width: 1100px;
    }
  }
  .contentWrapper {
    position: relative;
    z-index: 5;
  }
  .repeatable--fullscreen_hero_image {
    font-family: $font_primary;
    height: 800px;
    @media screen and (min-height:769px) {
      height: 100vh;
    }
    
    .middleImage {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      .wrap {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      .heroText {
        font-family: $font_primary;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 0.15em;
        line-height: 1.2;
        margin-top: 15px;
      }
      figure {
        margin: 0 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      @media screen and (max-width:768px) {
        padding-left: 35px;
        padding-right: 35px;
        .heroText {
          font-size: 18px;
          line-height: 1.3;
        }
      }
    }
    .bottomContent {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 100;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 30px;
      padding-right: 30px;
      @include mid {
        padding-left: 80px;
        padding-right: 80px;
      }
      .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        z-index: 5;
      }
      .text {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: .15em;
      }
      .stripes {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        @include mid {
          padding-left: 80px;
          padding-right: 80px;
        }
        span {
          display: block;
          width: 50%;
          height: 100%;
          background-image: url('assets/images/yellow-vertical-stripe.png');
          background-size: 60px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      @media screen and (max-width:1024px) {
        .stripes {
          opacity: 0;
        }
      }
      @media screen and (max-width: 768px) {
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        &:after {
          content:"";
          display: block;
          width: 100%;
          height: 50px;
          background-image: url('assets/images/yellow-vertical-stripe.png');
          background-size: 35px;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          bottom: 16px;
          left: -5px;
          pointer-events: none;
        }
        .wrap {
          position: relative;
          z-index: 5;
          .text {
            font-size: 14px;
            &.rightText {
              display: none;
            }
          }
        }
      }
    }
    .background-image.img-mobile {
      display: none;
    }
    @media screen and (max-width:480px) {
      &:has(.img-desktop):has(.img-mobile) {
        .background-image.img-desktop {
          display: none;
        }
        .background-image.img-mobile {
          display: block;
        }
      }
    }
  }
  .repeatable--fullwidth_video {
    position: relative;
    // &:has(.video-fancybox) {
    //   height: 50vh;
    //   @include mid {
    //     height: 100vh;
    //   }
    // }
    // .video-fancybox {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   position: relative;
    //   .play {
    //     display: inline-block;
    //     width: 110px;
    //     height: 110px;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translateX(-50%) translateY(-50%);
    //     z-index: 50;
    //     background-image: url('assets/images/play-button.png');
    //     background-size: 100%;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     transition: transform ease .3s;
    //   }
    //   img {
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     object-fit: cover;
    //     object-position: center;
    //   }
    //   .play:hover {
    //     transform: translateX(-50%) translateY(-50%) scale(1.1);
    //   }
    // }
    // .videoContainer {
    //   background-color: #000;
    //   width: 100%;
    //   position: relative;
    //   top: 0;
    //   left: 0;
    //   // float: left;
    //   img.video-resizer {
    //     width: 100%;
    //     height: auto;
    //     float: left;
    //     position: relative;
    //   }
    //   img.video-placeholder {
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     object-fit: cover;
    //     object-position: center;
    //     z-index: 2;
    //   }
    //   div.video {
    //     display: none;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 5;
    //     video {
    //       max-width: 100%;
    //       max-height: 100%;
    //       width: 100%;
    //       height: 100%;
    //     }
    //   }
      
    // }
    .iframeVideo {
      position: relative;
      width: 100%;
      float: left;
      overflow: hidden;
      img.video-resizer {
        width: 100%;
        height: auto;
        float: left;
      }
      img.video-poster {
        width: 100%!important;
        height: 100%!important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        object-fit: cover;
        object-position: center;
      }
      iframe {
        border: none!important;
        width: 100%!important;
        height: 100%!important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        transform: scale(1.25);
      }
    }
    .videoContainer {
      position: relative;
      overflow: hidden;
      background-color: #000;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      div.video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110%;
        height: 110%;
        z-index: 5;
        transform: translateX(-50%) translateY(-50%);
        // transform: scale(1.02);
      }
      video {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
      img.video-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 2;
      }
      img.video-resizer {
        width: 100%;
        height: auto;
        float: left;
      }
    }

    .iframeVideoMobile, .videoContainerMobile {
      display: none;
    }

    @media screen and (max-width:860px) {
      .iframeVideoDesktop,
      .videoContainerDesktop {
        display: none!important;
      }
      .iframeVideoMobile, .videoContainerMobile {
        display: block;
      }
    }

    @media screen and (max-width:480px) {
      .videoContainerMobile div.video {
        transform: scale(1.3);
      }
    }
  }
}

.repeatable--event_cards {
  background: #222;
  .wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0 0;
  }
  .eventCards {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    margin-left: -15px;
    margin-right: -15px;
    .eventCard {
      padding: 15px;
      .inside {
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        padding-bottom: 25vw;
        background-color: #000;
        color: #FFF;
        .image {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
        .text {
          display: block;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 10;
          padding: 25px;
          color: #FFF;
          font-family: $font_primary;
          &:after {
            content:"";
            display: block;
            width: 100%;
            height: 150%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%);
          }
          .wrap {
            width: 100%;
            position: relative;
            z-index: 5;
            @include mid {
              width: 80%;
            }
          }
          .title {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 0.05em;
          }
          .description {
            font-size: 15px;
            line-height: 1.3;
            letter-spacing: 0.02em;
            margin-top: 5px;
          }
        }
        .buttons {
          display: flex;
          gap:1.5rem;
          margin-top: 15px;
        }
        .button-yellow {
          min-width: 130px;
        }
      }
      @media screen and (max-width:1024px) {
        width: 50%!important;
        .inside {
          padding-bottom: 50vw;
        }
      }
      @media screen and (max-width:768px) {
        width: 100%!important;
        .inside {
          padding-bottom: 80vw;
        }
      }
      @media screen and (max-width:480px) {
        .inside {
          padding-bottom: 90vw;
        }
      }
    }
  }
}

.repeatable--vendors_carousel {
  padding-top: 150px;
  padding-bottom: 100px;
  .background-image {
    &:before {
      content:"";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.88);
    }
  }
  .wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    &.textContainer {
      max-width: 1000px;
    }
    @media screen and (max-width:600px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .carouselWrapper {
    .vendor-carousel {
      border-top: 1px solid rgba(255,255,255,.35);
      background: #000;
      position: relative;
    }
    .slick-carousel {
      position: relative;
      .slick-prev, .slick-next {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        z-index: 1;
        cursor: pointer;
        zoom: 2;
        transform: translateY(-50%);
        color: transparent;
        background-size: 75%;
        background-position: center;
        background-repeat: no-repeat;
      }
      .slick-prev {
        left: -50px;
        background-image: url('assets/images/carousel-arrow-prev.png');
      }
      .slick-next {
        right: -50px;
        background-image: url('assets/images/carousel-arrow-next.png');
      }
    }
    .vendor-item {
      border-right: 1px solid rgba(255,255,255,.35);
      padding: 40px 10px;
      position: relative;
      .count {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .text {
          font-family: $tuckfest_hand;
          font-size: 11px;
          color: #FFF;
          text-transform: uppercase;
          letter-spacing: 0.03em;
          @media screen and (max-width: 600px) {
            position: relative;
            left: -20px;
            font-size: 7px;
          }
        }
        .number {
          font-family: $tuckfest_hand;
          font-size: 11px;
          color: $yellow;
          display: inline-block;
          position: absolute;
          right: 15px;
          &:after {
            content:"";
            display: inline-block;
            width: 15px;
            height: 10px;
            background-image: url('assets/images/icon-arrow-small.png');
            background-size: contain;
            background-position: center right;
            background-repeat: no-repeat;
            position: relative;
            top: 1px;
            right: -4px;
          }
        }
      }
      .decoration {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          display: inline-block;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .stripe {
          left: 0;
          width: 80px;
          height: 10px;
          background-image: url('assets/images/carousel-stripe.png');
          @media screen and (max-width: 600px) {
            left: -10px;
            width: 70px;
            height: 6px;
          }
        }
        .barcode {
          right: 0;
          width: 80px;
          height: 15px;
          background-image: url('assets/images/carousel-barcode.png');
          @media screen and (max-width: 600px) {
            width: 50px;
            height: 8px;
          }
        }
      }
      figure {
        margin: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255,255,255,.35);
        img {
          width: 75%;
          height: auto;
          filter: brightness(0) invert(1);
          transition: transform ease .3s;
          @media screen and (max-width: 600px) {
            width: 98%;
          }
        }
        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover, &:focus {
            img {
              transform: scale(1.12);
            }
          }
        }
      }
    }
  }
  .textContainer {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    // padding-right: 120px;
    position: relative;
    @media screen and (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    &:after {
      pointer-events: none;
      content:"";
      display: block;
      width: 100px;
      height: 100%;
      background-image: url('assets/images/big-arrow.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: -5vw;
    }
    .textWrap {
      position: relative;
      z-index: 5;
    }
    h2 {
      font-family: $tuckfest_hand!important;
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $yellow;
      margin: 0 0 30px;
    }
    p {
      font-family: $font_primary;
      font-size: 18px;
      line-height: 1.6;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
    }
  }

  @media screen and (max-width:480px) {
    .carouselWrapper {
      width: 80%!important;
      margin: 0 auto;
      border-left: 1px solid rgba(255,255,255,.25);
      border-right: 1px solid rgba(255,255,255,.35);
      .slick-carousel {
        .slick-next {
          right: -25px;
          transform: translateY(-50%) scale(0.6);
        }
        .slick-prev {
          left: -25px;
          transform: translateY(-50%) scale(0.6);
        }
      }
    }
  }
}

.repeatable--contact_information {
  padding-top: 100px;
  padding-bottom: 100px;
  .titleDiv {
    text-align: center;
  }
  .flexwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .mapCol, .textCol {
      width: 100%;
      @include mid {
        width: 50%;
        min-height: 500px;
      }
    }
    .mapCol {
      iframe {
        border: none!important;
        width: 100%!important;
        height: 400px!important;
        @include mid {
          height: 100%!important;
        }
      }
    }
    .textCol {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-top: 50px;
      padding-bottom: 50px;
      @include mid {
        padding-left: 60px;
      }
      p {
        font-family: $font_primary;
        line-height: 1.6;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 0 0 35px;
      }
      .button-outline-white {
        min-width: 200px;
      }
      .buttons {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
      }
      .buttons-hidden {
        display: none;
      }
      .buttonsContainer {
        p {
          margin: 0 0 15px!important;
          font-weight: bold;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .flexwrap {
      .textCol, .imageCol {
        width: 100%!important;
      }
      .textCol {
        display: flex;
        flex-wrap: wrap;
        div.text, .buttonsContainer {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.repeatable--text_content_buttons {
  padding-top: 130px;
  padding-bottom: 150px;
  overflow: hidden;
  &:before {
    pointer-events: none;
    content:"";
    display: block;
    width: 50%;
    height: 50%;
    background-image: url('assets/images/circular-abstract.png');
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(50%) translateY(-25%);
    z-index: 3;
    @media screen and (max-width:1380px) {
      width: 100%;
      height: 30%;
    }
    @media screen and (max-width:768px) {
      width: 100%;
      height: 20%;
      right: -20vw;
    }
  }
  .background-image {
    &:before {
      content:"";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.25);
    }
  }
  .wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    &.textContainer {
      max-width: 1100px;
    }
  }

  .textContainer {
    text-align: center;
    position: relative;
    z-index: 5;
    @media screen and (max-width:1380px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    &:has(.buttons) {
      &:after {
        pointer-events: none;
        content:"";
        display: block;
        width: 100px;
        height: 50%;
        background-image: url('assets/images/big-arrow.png');
        background-size: 100%;
        background-position: bottom left;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -2vw;
        left: -3vw;
        transform: rotate(140deg);
        @media screen and (max-width:1480px) {
          left: 4vw;
        }
        @media screen and (max-width:1380px) {
          display: none;
        }
      }
    }
    .textWrap {
      position: relative;
      z-index: 5;
    }
    h2 {
      font-family: $tuckfest_hand!important;
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $yellow;
      margin: 0 0 30px;
    }
    p {
      font-family: $font_primary;
      font-size: 18px;
      line-height: 1.6;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      justify-content: center;
      margin-top: 40px;
      position: relative;
      @media screen and (max-width:1380px) {
        padding-left: 80px;
        &:after {
          pointer-events: none;
          content:"";
          display: block;
          width: 80px;
          height: 300px;
          background-image: url('assets/images/big-arrow.png');
          background-size: 100%;
          background-position: bottom left;
          background-repeat: no-repeat;
          position: absolute;
          top: -145px;
          left: 0;
          transform: rotate(140deg);
        }
      }
      @media screen and (max-width: 860px) {
        flex-wrap: wrap;
      }
    }
  }
}

.repeatable--gallery_collage {
  padding-top: 80px;
  padding-bottom: 80px;
  .background-image {
    &:before {
      content:"";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.75);
    }
    &:has(.background-overlay):before {
      display: none;
    }
  }
  .collageWrapper {
    position: relative;
    z-index: 10;
    padding-left: 30px;
    padding-right: 30px;
    @include mid {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  .collageImages {
    display: flex;
    flex-wrap: wrap;
    .collage {
      padding: 10px;
      .inside {
        margin: 0 0;
        position: relative;
        padding-bottom: 25vw;
        a.imageLink {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: all ease .3s;
          &:before {
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            opacity: 0;
            box-shadow: 0 0 0 2px rgba(255,255,255,1) inset;
            transition: all ease .3s;
          }
          &:hover, &:focus {
            &:before {
              opacity: 1;
              box-shadow: 0 0 0 5px rgba(255,255,255,1) inset;
            }
          }
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }
      @media screen and (max-width:1024px) {
        width: 50%!important;
        .inside {
          padding-bottom: 50vw;
        }
      }
      @media screen and (max-width:768px) {
        width: 100%!important;
        .inside {
          padding-bottom: 80vw;
        }
      }
      @media screen and (max-width:480px) {
        .inside {
          padding-bottom: 90vw;
        }
      }
    }
    
  }

  .collageImageCarousel {
    position: relative;
    .collage {
      padding: 5px;
      .inside {
        margin: 0 0;
        position: relative;
        padding-bottom: 85%;
        img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .slick-prev, .slick-next {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      z-index: 1;
      cursor: pointer;
      zoom: 2;
      transform: translateY(-50%);
      color: transparent;
      background-size: 15px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slick-prev {
      left: -20px;
      background-image: url('assets/images/carousel-arrow-prev.png');
    }
    .slick-next {
      right: -20px;
      background-image: url('assets/images/carousel-arrow-next.png');
    }
  }
}


.Footer {
  padding-top: 30px;
  padding-bottom: 30px;
  .footerInner {
    padding-left: 30px;
    padding-right: 30px;
    @include mid {
      padding-left: 80px;
      padding-right: 80px;
    }
    .flexwrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .footcol.left {
    display: inline-flex;
    align-content: center;
    align-items: center;
    #footlogo, #footlogo a {
      display: inline-flex;
      align-content: center;
      align-items: center;
    }
  }
  .footcol.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mid {
      align-items: center;
      justify-content: flex-end;
    }
  }
  .socialMediaLinks {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: .35rem;
    padding-left: 50px;
  }
  .socialMediaLinks a {
    display: inline-flex;
    justify-content: center;
    // width: 28px;
    // height: 30px;
    position: relative;
    transition: all ease .3s;
    &:hover, &:focus {
      transform: translatey(-3px);
    }
  }
  .socialMediaLinks a img {
    // width: 100%;
    // height: 100%;
    // display: inline-block;
    // position:absolute;
    // top: 0;
    // left: 0;
    // object-fit: contain;
    // object-position:center;
    // transform: scale(0.75);
    filter: brightness(0) invert(1);
    width: auto;
    height: 40px;
  }
  .socialMediaLinks a[aria-label="facebook"] {
    left: 5px;
  }
  // .socialMediaLinks a[aria-label="youtube"] img {
  //   transform: scale(1);
  // }
  // .socialMediaLinks a[aria-label="youtube"] {
  //   left: 5px;
  // }

  .signUpContainer {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    .formText {
      font-family: $tuckfest_hand!important;
      font-size: 13px;
      line-height: 1.1;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: $yellow;
    }
    #mc_embed_shell {
      width: auto;
      display: flex;
      align-items: center;
      margin: 5px 0!important;
      .mc-field-group {
        position: relative;
        div.mce_inline_error {
          position: absolute;
          top: -30px;
          font-size: 14px;
          font-weight: 400;
          padding: 2px 8px !important;
          background: #c00a0a;
        }
      }

      form {
        display: flex;
        align-items: center;
        div {
          display: flex;
          align-items: flex-start;
        }
      }
      input[type="text"],
      input[type="email"],
      [type="submit"] {
        height: 40px;
        box-sizing: border-box;
        appearance: none;
        border: none!important;
        border-radius: 0;
        margin: 0 0!important;
      }
      [type="submit"] {
        padding: 5px 10px!important;
        font-family: $tuckfest_hand!important;
        font-size: 11px!important;
        line-height: 1.1;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #000;
        border: 1px solid $yellow!important;
        background-color: $yellow;
        min-width: 130px;
        margin-left: 5px!important;
        transition: all ease .3s;
        &:hover, &:focus {
          color: $yellow!important;
          background-color: transparent!important;
        }
      }
      input[type="text"],
      input[type="email"] {
        width: 200px;
        padding: 5px 10px!important;
      }
    }
  }
}

@media screen and (max-width:1250px) {
  .Footer {
    padding-top: 20px;
    padding-bottom: 50px;
    .footerInner .flexwrap {
      justify-content: center;
      flex-direction: column;
      .footcol.right, .signUpContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
      }
      .footcol.right {
        margin-top: 20px;
        .signUpContainer {
          gap: 1rem;
        }
      }
      .socialMediaLinks {
        padding-left: 0!important;
        justify-content: center;
        margin-top: 15px;
      }
    }
  }
}

@media screen and (min-width: 783px) {
  html:has(.flexible-content-wrapper) {
    margin-top: 0!important;
    padding-top: 0!important;
  }
  body:has(.flexible-content-wrapper) .site-header.site-header-new {
    padding-top: 45px;
  }
  body.logged-in.admin-bar:has(.flexible-content-wrapper) .site-header.site-header-new {
    padding-top: 65px;
  }
}

