$fontPrimary: 'Brandon Grotesque', sans-serif;

body:has(.flexible-content-wrapper) {
  .site-header.site-header-new {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    @include mid {
      padding-left: 80px;
      padding-right: 80px;
    }
    &:before {
      pointer-events: none;
      content:"";
      display: block;
      width: 100%;
      height: 15vw;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom,  rgba(25,94,166,0.5) 0%,rgba(0,0,0,0) 100%);
    }
    .headerInner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 10;
    }
    .logo {
      padding-left: 0;
      padding-right: 0;
      width: 260px;
      display: flex;
      align-items: center;
      a {
        width: 100%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .menu-toggle-button {
      appearance: none;
      border: none;
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -15px;
      right: 0;
      background-image: url('assets/images/menu-toggle.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    #site-navigation {
      position: absolute;
      top: 0;
      right: 0;
      width: 350px;
      height: 100vh;
      background: rgba(0,0,0,.85);
      z-index: 500;
      display: none;
    }
  }
}

.flexible-content-wrapper {
  overflow: hidden;
  .repeatable {
    position: relative;
  }
  .wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .repeatable--fullscreen_hero_image {
    font-family: $fontPrimary;
    height: 800px;
    @media screen and (min-height:767px) {
      height: 100vh;
    }
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .middleImage {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      .wrap {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      .heroText {
        font-family: $fontPrimary;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 0.15em;
        line-height: 1.2;
        margin-top: 15px;
      }
      figure {
        margin: 0 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .bottomContent {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 100;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 30px;
      padding-right: 30px;
      @include mid {
        padding-left: 80px;
        padding-right: 80px;
      }
      .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        z-index: 5;
      }
      .text {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: .15em;
      }
      .stripes {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        @include mid {
          padding-left: 80px;
          padding-right: 80px;
        }
        span {
          display: block;
          width: 50%;
          height: 100%;
          background-image: url('assets/images/yellow-vertical-stripe.png');
          background-size: 60px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .repeatable--fullwidth_video {
    height: 50vh;
    @include mid {
      height: 100vh;
    }
    .video-fancybox {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      .play {
        display: inline-block;
        width: 110px;
        height: 110px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 50;
        background-image: url('assets/images/play-button.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform ease .3s;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
      }
      .play:hover {
        transform: translateX(-50%) translateY(-50%) scale(1.1);
      }
    }
  }
}

.repeatable--event_cards {
  background: #222;
  .wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0 0;
  }
  .eventCards {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    margin-left: -15px;
    margin-right: -15px;
    .eventCard {
      padding: 15px;
      .inside {
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        padding-bottom: 25vw;
        background-color: #000;
        color: #FFF;
        .image {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
        .text {
          display: block;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 10;
          padding: 25px;
          color: #FFF;
          font-family: $fontPrimary;
          &:after {
            content:"";
            display: block;
            width: 100%;
            height: 150%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%);
          }
          .wrap {
            width: 100%;
            position: relative;
            z-index: 5;
            @include mid {
              width: 80%;
            }
          }
          .title {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 0.05em;
          }
          .description {
            font-size: 15px;
            line-height: 1.3;
            letter-spacing: 0.02em;
            margin-top: 5px;
          }
        }
        .buttons {
          display: flex;
          gap:1rem;
          margin-top: 15px;
        }
        .button {
          display: inline-block;
          text-decoration: none;
          background-color: #FFE900;
          color: #000;
          font-family: $tuckfest_hand;
          font-size: 12px;
          text-transform: uppercase;
          padding: 5px 15px;
          border-radius: 5px;
          transition: all ease .3s;
          &:hover, &:focus {
            background-color: #FFF;
            transform: translateY(-1px);
            box-shadow: 2px 5px .5rem rgba(0,0,0,.5);
          }
        }
      }
      @media screen and (max-width:1024px) {
        width: 50%!important;
        .inside {
          padding-bottom: 50vw;
        }
      }
      @media screen and (max-width:768px) {
        width: 100%!important;
        .inside {
          padding-bottom: 80vw;
        }
      }
      @media screen and (max-width:480px) {
        .inside {
          padding-bottom: 90vw;
        }
      }
    }
  }
}


@media screen and (min-width: 783px) {
  html:has(.flexible-content-wrapper) {
    margin-top: 0!important;
    padding-top: 0!important;
  }
  body:has(.flexible-content-wrapper) .site-header.site-header-new {
    padding-top: 60px;
  }
}

