$fontPrimary: 'Brandon Grotesque', sans-serif;

.button-yellow {
  display: inline-block;
  text-decoration: none;
  background-color: #FFE900;
  color: #000;
  font-family: $tuckfest_hand;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 5px;
  transition: all ease .3s;
  &:hover, &:focus {
    background-color: #FFF;
    color: #000;
    transform: translateY(-1px);
    box-shadow: 2px 5px .5rem rgba(0,0,0,.5);
  }
}

.button-outline-white {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: #FFF;
  font-family: $tuckfest_hand;
  font-size: 12px;
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 0;
  border: 1px solid #FFF;
  transition: all ease .3s;
  &:hover, &:focus {
    background-color: #FFF;
    color: #000;
    transform: translateY(-1px);
  }
}

body:has(.flexible-content-wrapper) {
  .site-header.site-header-new {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    @include mid {
      padding-left: 80px;
      padding-right: 80px;
    }
    &:before {
      pointer-events: none;
      content:"";
      display: block;
      width: 100%;
      height: 15vw;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom,  rgba(25,94,166,0.5) 0%,rgba(0,0,0,0) 100%);
    }
    .headerInner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 10;
    }
    .logo {
      padding-left: 0;
      padding-right: 0;
      width: 260px;
      display: flex;
      align-items: center;
      a {
        width: 100%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .menu-toggle-button {
      appearance: none;
      border: none;
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -15px;
      right: 0;
      background-image: url('assets/images/menu-toggle.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    #site-navigation {
      position: absolute;
      top: 0;
      right: 0;
      width: 350px;
      height: 100vh;
      background: rgba(0,0,0,.85);
      z-index: 500;
      display: none;
    }
  }
}

.sectionTitle {
  font-family: $tuckfest_hand!important;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $yellow;
  margin: 0 0 30px;
}

.flexible-content-wrapper {
  overflow: hidden;
  .repeatable {
    position: relative;
  }
  .wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }
  .repeatable--fullscreen_hero_image {
    font-family: $fontPrimary;
    height: 800px;
    @media screen and (min-height:767px) {
      height: 100vh;
    }
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .middleImage {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      .wrap {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      .heroText {
        font-family: $fontPrimary;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 0.15em;
        line-height: 1.2;
        margin-top: 15px;
      }
      figure {
        margin: 0 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .bottomContent {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 100;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 30px;
      padding-right: 30px;
      @include mid {
        padding-left: 80px;
        padding-right: 80px;
      }
      .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        z-index: 5;
      }
      .text {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: .15em;
      }
      .stripes {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        @include mid {
          padding-left: 80px;
          padding-right: 80px;
        }
        span {
          display: block;
          width: 50%;
          height: 100%;
          background-image: url('assets/images/yellow-vertical-stripe.png');
          background-size: 60px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .repeatable--fullwidth_video {
    height: 50vh;
    @include mid {
      height: 100vh;
    }
    .video-fancybox {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      .play {
        display: inline-block;
        width: 110px;
        height: 110px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 50;
        background-image: url('assets/images/play-button.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform ease .3s;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
      }
      .play:hover {
        transform: translateX(-50%) translateY(-50%) scale(1.1);
      }
    }
  }
}

.repeatable--event_cards {
  background: #222;
  .wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0 0;
  }
  .eventCards {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    margin-left: -15px;
    margin-right: -15px;
    .eventCard {
      padding: 15px;
      .inside {
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        padding-bottom: 25vw;
        background-color: #000;
        color: #FFF;
        .image {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
        .text {
          display: block;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 10;
          padding: 25px;
          color: #FFF;
          font-family: $fontPrimary;
          &:after {
            content:"";
            display: block;
            width: 100%;
            height: 150%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%);
          }
          .wrap {
            width: 100%;
            position: relative;
            z-index: 5;
            @include mid {
              width: 80%;
            }
          }
          .title {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 0.05em;
          }
          .description {
            font-size: 15px;
            line-height: 1.3;
            letter-spacing: 0.02em;
            margin-top: 5px;
          }
        }
        .buttons {
          display: flex;
          gap:1rem;
          margin-top: 15px;
        }
        .button {
          display: inline-block;
          text-decoration: none;
          background-color: #FFE900;
          color: #000;
          font-family: $tuckfest_hand;
          font-size: 12px;
          text-transform: uppercase;
          padding: 5px 15px;
          border-radius: 5px;
          transition: all ease .3s;
          &:hover, &:focus {
            background-color: #FFF;
            transform: translateY(-1px);
            box-shadow: 2px 5px .5rem rgba(0,0,0,.5);
          }
        }
      }
      @media screen and (max-width:1024px) {
        width: 50%!important;
        .inside {
          padding-bottom: 50vw;
        }
      }
      @media screen and (max-width:768px) {
        width: 100%!important;
        .inside {
          padding-bottom: 80vw;
        }
      }
      @media screen and (max-width:480px) {
        .inside {
          padding-bottom: 90vw;
        }
      }
    }
  }
}

.repeatable--vendors_carousel {
  padding-top: 150px;
  padding-bottom: 100px;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      content:"";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.88);
    }
  }
  .wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    &.bottomText {
      max-width: 1000px;
    }
  }
  .carouselWrapper {
    .vendor-carousel {
      border-top: 1px solid rgba(255,255,255,.35);
      background: #000;
      position: relative;
    }
    .slick-carousel {
      position: relative;
      .slick-prev, .slick-next {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        z-index: 1;
        cursor: pointer;
        zoom: 2;
        transform: translateY(-50%);
        color: transparent;
        background-size: 75%;
        background-position: center;
        background-repeat: no-repeat;
      }
      .slick-prev {
        left: -50px;
        background-image: url('assets/images/carousel-arrow-prev.png');
      }
      .slick-next {
        right: -50px;
        background-image: url('assets/images/carousel-arrow-next.png');
      }
    }
    .vendor-item {
      border-right: 1px solid rgba(255,255,255,.35);
      padding: 40px 10px;
      position: relative;
      .count {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .text {
          font-family: $tuckfest_hand;
          font-size: 11px;
          color: #FFF;
          text-transform: uppercase;
          letter-spacing: 0.03em;
        }
        .number {
          font-family: $tuckfest_hand;
          font-size: 11px;
          color: $yellow;
          display: inline-block;
          position: absolute;
          right: 15px;
          &:after {
            content:"";
            display: inline-block;
            width: 15px;
            height: 10px;
            background-image: url('assets/images/icon-arrow-small.png');
            background-size: contain;
            background-position: center right;
            background-repeat: no-repeat;
            position: relative;
            top: 1px;
            right: -4px;
          }
        }
      }
      .decoration {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          display: inline-block;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .stripe {
          left: 0;
          width: 80px;
          height: 10px;
          background-image: url('assets/images/carousel-stripe.png');
        }
        .barcode {
          right: 0;
          width: 80px;
          height: 15px;
          background-image: url('assets/images/carousel-barcode.png');
        }
      }
      figure {
        margin: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255,255,255,.35);
        img {
          width: 75%;
          height: auto;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
  .bottomText {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 120px;
    position: relative;
    &:after {
      pointer-events: none;
      content:"";
      display: block;
      width: 100px;
      height: 100%;
      background-image: url('assets/images/big-arrow.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
    }
    .textWrap {
      position: relative;
      z-index: 5;
    }
    h2 {
      font-family: $tuckfest_hand!important;
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $yellow;
      margin: 0 0 30px;
    }
    p {
      font-family: $fontPrimary;
      font-size: 18px;
      line-height: 1.6;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
    }
  }
}

.repeatable--contact_information {
  padding-top: 100px;
  padding-bottom: 100px;
  .titleDiv {
    text-align: center;
  }
  .flexwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .mapCol, .textCol {
      width: 100%;
      @include mid {
        width: 50%;
        min-height: 500px;
      }
    }
    .mapCol {
      iframe {
        border: none!important;
        width: 100%!important;
        height: 400px!important;
        @include mid {
          height: 100%!important;
        }
      }
    }
    .textCol {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-top: 50px;
      padding-bottom: 50px;
      @include mid {
        padding-left: 60px;
      }
      p {
        font-family: $fontPrimary;
        line-height: 1.6;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 0 0 35px;
      }
      .button-outline-white {
        min-width: 200px;
      }
      .buttons {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
      }
      .buttons-hidden {
        display: none;
      }
      .buttonsContainer {
        p {
          margin: 0 0 15px!important;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (min-width: 783px) {
  html:has(.flexible-content-wrapper) {
    margin-top: 0!important;
    padding-top: 0!important;
  }
  body:has(.flexible-content-wrapper) .site-header.site-header-new {
    padding-top: 60px;
  }
}

